header {
    background-color: #ffffff;
    color: white;
}

class="logotipo" src="img/logotenis.png" alt="Logotipo da marca"> {
    width: 20px;
    position: relative;
    top: 20px;
    left: 20px;
}

.cabecalho {
    background-color: #d213f8;
    color: white;
}

.cabecalho-lista {
    display: flex;
    position: relative;
    left: 300px;
}